<div class="row" ng-controller="TeamsController">
    <form ng-submit="addTeam()" id="session_list">
    <div class="col-md-3 col">
      <h3>Add new team</h3> 

      <div>
          <label>Name</label>
          <input type="text" class="form-control" ng-model="team.name"
                 placeholder="Enter team name">
      </div>
      <div>
          <label>Team Size</label>
            <select ng-options="k as v for (k,v) in team_items" ng-model="team.size">
              <option value="">Select Size</option>
            </select>

     </div>     
    </div>
      <div class="col-md-1">

      </div>
          <div class="col-md-5">     
        <p>Rower Menu</p>

          <div><input type="submit" class="btn btn-primary" value="Save Team"></div>
      </div>
    </form>
      <div ng-repeat="rower in rowers">
          <p>{{rower.name}} <button ng-click="addToTeam(rower)"><span class="glyphicon glyphicon-plus"></span> Add to Team</button>
          </p>
      </div>

</div>

