<div class="row">
    <div class="col-md-3 col">
        <p class = "error regerror" ng-show="message">{{message}}</p>
      <h3>Add new Rowers</h3>

      <form name="rower_reg" ng-submit="register()" novalidate>

      <div class="form-group">

          <input type="text" class="form-control" ng-model="rower.name"
                 placeholder="Enter name" ng-required="true" autofocus="true">
      </div>

      <div class="form-group">
          <input type="email" class="form-control" ng-model="rower.email"
                 placeholder="Enter email" ng-required="true">
      </div>

      <div class = "form-group"  >
          <input type="password" class="form-control" ng-model="rower.password"
                 placeholder="Enter password" ng-required="true">
      </div>

      <div class="form-group">

          <input type="number" class="form-control" ng-model="rower.age"
                   placeholder="Enter age">
      </div>
      <div class="form-group">
          <input type="number" class="form-control" ng-model="rower.weight"
                   placeholder="Enter weight">
      </div>

      <div class="form-group">
          <input type="decimal" class="form-control" ng-model="rower.height"
                   placeholder="Enter height">
      </div>
          <input type="submit" class="btn btn-primary"  value="Submit Form">
      </form>

  </div>
</div>