
  <div class="row">
    <div class="col-md-1">
      <!--<a href="#/rowers/{{$index}}">{{rower.name | uppercase}}</a>-->
    </div>
    <div class="col-md-10">
      <h3>All Rowers</h3>   
      <table class="table">
        <tr><th>Name</th><th>Age</th><th>Weight</th><th>Height</th></tr> 
              <tr ng-repeat="rower in rowers" >
                <td>
                 {{rower.name | uppercase}}
                </td>
                <td>
                  {{rower.age}}
                </td>
                <td>
                  {{rower.weight}}
                </td>
                <td>
                  {{rower.height}}
                </td>
                <td>
                  <!--<a href="#/rowers/rower.regRower">-->
                      <button> Edit <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span> </button>
                    <!--</a>-->
                  <button ng-click="deleteRower(rower.regRower)"> Delete <span class="glyphicon glyphicon-remove-circle" aria-hidden="false"></span></button>
                </td>
         </tr>
       </table>
  </div>
   <div class="col-md-1"></div>
  </div>
