  <div class ="row" ng-hide="signedIn()" >
    <div class= "col-md-2"></div>
    <div class= "col-md-5" id="session_list">
          <h1>You are not logged in</h1>
    <p>You must <a href="#/login"><strong>Login</strong></a> to access this page</p>
    </div>
    <div class= "col-md-2"></div>

  </div>

<div class="row" ng-show="signedIn()">
    <div class="col-md-9">
        <h2>Rowing Stats</h2>
        <div ng-app="chartApp">
            <div ng-controller="ChartController">
                <div class="row">
                    <div class="span9">
                        <div class="row" id="session_list">
                            <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
                        </div>
                    </div>
                    <div class="trigger" >
                        <button id="t" ng-click="timeChart()" >Time Stats over 2000m</button>
                        <button id="r" ng-click="rateChart()">Stroke Rate Stats</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

