
<div class="col-md-12">
    <h3>Training Sessions</h3>
    <!--<div name="currentUser" ng-controller="StatusController">Current Rower Id: {{ currentRower.regRower }} </div>-->
    <form ng-submit="addTrainingSession()" name="sessionForm">
        <div name="currentUser" ng-controller="StatusController" ng-model="session.user" value="currentRower.regRower">
                <a href="#/session_report">
                      <button class="btn btn-primary"> See Training Session Report</button>
                </a>
        </div>
    <table class="table table-bordered">
        <tr><th>Day</th><th>Distance</th><th>Stroke Rate</th><th>Time</th><th>Test Note</th></tr>
        <tr ng-repeat="session in sessions">
        <td>
        {{session.day}}
        </td>
        <td>
        {{session.distance}}
        </td>
        <td>
        {{session.rate}}
        </td>
        <td>
        {{session.time}}
        </td>
        <td>
        {{session.note}}
        </td>
        </tr>
        <tr>

                <td><input type="number" class="form-control" ng-model="session.day" placeholder="Enter Training Day"></td>
                <td><input type="number" class="form-control" ng-model="session.distance" placeholder="Enter Distance in metres"></td>
                <td><input type="number" class="form-control" ng-model="session.rate" placeholder="Enter average stroke rate"></td>
                <td><input type="number" step="any" class="form-control" ng-model="session.time" placeholder="Enter time in minutes and seconds"></td>
                <td><input type="text" class="form-control" rows="5" ng-model="session.note" placeholder="Enter training session notes"></td>
                <td><input type="submit" class="btn btn-primary"  value="Save Training Session"></td>

        </tr>
    </table>
    </form>

</div>

