<div class="row">
    <div class="col-md-4">
        <h3>All Teams</h3>
        <table class="table table-bordered">
            <tr><th>Name</th><th>Size</th><th>Team Members</th></tr>
            <tr ng-repeat="team in teams" >
                <td>
                    {{team.name | uppercase}}
                </td>
                <td>
                    {{team.size}}
                </td>
                <td>
                    <ul>
                        <li ng-repeat="member in team.members">{{member.name}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class = "col-md-2"></div>
    <div class = "col-md-6">
        <p>Here is where the team manager will go and it will consist of a search and a table of rowers</p>

    </div>
</div>
