<div class="row">
    <div class="col-md-6">
        <h3>All Teams</h3>
        <table class="table table-bordered" id="session_list">
            <tr><th>Name</th><th>Size</th><th>Team Members</th></tr>
            <tr ng-repeat="team in teams" >
                <td>
                    {{team.name | uppercase}}
                </td>
                <td>
                    {{team.size}}
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
    <div class = "col-md-1"></div>
    <div class = "col-md-5">

    </div>
</div>
