<div class="row">
    <div class = "col-md-2"></div>
    <div class="col-md-8" id="session_list">
        <h3>All Crews</h3>
        <table class="table table-bordered" >
            <tr><th>Name</th><th>Size</th><th>Crew Members</th><th>Gender</th><th></th></tr>
            <tr ng-repeat="team in teams" >
                <td>
                    {{team.name | uppercase}}
                </td>
                <td>
                    {{team.size}}
                </td>
                <td>
                    {{team.catagory}}
                </td>
                <td>
                    {{team.gender}}
                </td>
                <td>
                    <button class="btn btn-sm" ng-click="go_to_manager(team)">Open Team Manager</button>
                </td>  
            </tr>
        </table>
    </div>
    
    <div class = "col-md-2">

    </div>
</div>
